<div layout="column">
  <md-whiteframe class="md-whiteframe-z1" layout-align="center" layout-padding>

    <h2>Edit: {{vm.contact.name}}</h2>

    <form name="addContactForm" layout="column" ng-submit="vm.updateContact()">
      <md-input-container md-no-float>
        <md-icon md-svg-src="assets/img/icons/ic_person_black_24px.svg"></md-icon>
        <input type="text" ng-model="vm.contact.name" placeholder="Name" required>
      </md-input-container>

      <md-input-container md-no-float>
        <md-icon md-svg-src="assets/img/icons/ic_email_black_24px.svg"></md-icon>
        <input type="text" ng-model="vm.contact.email" placeholder="Email" required>
      </md-input-container>

      <md-input-container md-no-float>
        <md-icon md-svg-src="assets/img/icons/ic_phone_black_24px.svg"></md-icon>
        <input type="text" ng-model="vm.contact.phone" placeholder="Phone" required>
      </md-input-container>

      <md-button type="submit"
                 class="md-raised"
                 aria-label="Update Contact">update
      </md-button>

    </form>
  </md-whiteframe>
</div>
